 

<div class="flex flex-col justify-center sm:h-screen p-4">
  <div class="max-w-md w-full mx-auto border border-gray-300 rounded-2xl p-8">
    <div class="text-center mb-12">
      <a href="javascript:void(0)"
        ><img
          src="https://img.freepik.com/vector-premium/logotipo-zapatillas_25327-267.jpg"
          alt="logo"
          class="w-40 inline-block"
        />
      </a>
    </div>

    <form action="/register" method="POST">
      {{ form.hidden_tag() }}
      <div class="space-y-6">
        <div>
          {{ form.nombre.label(for="nombre", class="text-slate-900 text-sm
          font-medium mb-2 block") }} {{ form.nombre(id="nombre",
          class="text-slate-900 bg-white border border-gray-300 w-full text-sm
          px-4 py-3 rounded-md outline-blue-500", placeholder="Nombre",
          type="text") }} {% if form.nombre.errors %}
          <ul class="text-red-500">
            {% for error in form.nombre.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>
          {{ form.username.label(for="username", class="text-slate-900 text-sm font-medium mb-2 block") }} {{ form.username(id="username",
          class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500", placeholder="Email",
          type="text") }}
           {% if form.username.errors %}
          <ul class="text-red-500">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>
          {{ form.password.label(for="password", class="text-slate-900 text-sm font-medium mb-2 block") }} {{ form.password(id="password",
          class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500", placeholder="Contraseña",
          type="password") }} {% if form.password.errors %}
          <ul class="text-red-500">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>
          {{ form.direccion.label(for="direccion", class="text-slate-900 text-sm
          font-medium mb-2 block") }} {{ form.direccion(id="direccion",
          class="text-slate-900 bg-white border border-gray-300 w-full text-sm
          px-4 py-3 rounded-md outline-blue-500", placeholder="Dirección",
          type="text") }} {% if form.direccion.errors %}
          <ul class="text-red-500">
            {% for error in form.direccion.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>
          {{ form.telefono.label(for="telefono", class="text-slate-900 text-sm
          font-medium mb-2 block") }} {{ form.telefono(id="telefono",
          class="text-slate-900 bg-white border border-gray-300 w-full text-sm
          px-4 py-3 rounded-md outline-blue-500", placeholder="Teléfono",
          type="text") }} {% if form.telefono.errors %}
          <ul class="text-red-500">
            {% for error in form.telefono.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>

      <div class="mt-12">
        {{ form.submit(class="w-full py-3 px-4 text-sm tracking-wider
        font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700
        focus:outline-none cursor-pointer") }}
      </div>
      <p class="text-slate-600 text-sm mt-6 text-center">
        Ya tiene una cuenta?
        <a href="/login" class="text-blue-600 font-medium hover:underline ml-1"
          >Inicia Sesión</a
        >
      </p>
    </form>
  </div>
</div>
{% extends 'app.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center sm:h-screen p-4">
        <div class="max-w-md w-full mx-auto border border-gray-300 rounded-2xl p-8">
            <div class="text-center mb-12">
                <a href="javascript:void(0)"><img
                        src="https://img.freepik.com/vector-premium/logotipo-zapatillas_25327-267.jpg" alt="logo"
                        class="w-40 inline-block" />
                </a>
            </div>

            <form action="/register" method="POST">
                {{ form.hidden_tag() }}
                <div class="space-y-6">
                    <div>
                        {{ form.nombre.label(for="nombre", class="text-slate-900 text-sm font-medium mb-2 block") }} {{ form.nombre(id="nombre",
                        class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500",
                        placeholder="Nombre", type="text") }} {% if form.nombre.errors %}
                        <ul class="text-red-500">
                            {% for error in form.nombre.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        {{ form.username.label(for="username", class="text-slate-900 text-sm font-medium mb-2 block") }} {{ form.username(id="username",
                        class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500",
                        placeholder="Email", type="text") }} {% if form.username.errors %}
                        <ul class="text-red-500">
                            {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        {{ form.password.label(for="password", class="text-slate-900 text-sm font-medium mb-2 block") }} {{ form.password(id="password",
                        class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500",
                        placeholder="Contraseña", type="password") }} {% if form.password.errors %}
                        <ul class="text-red-500">
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        {{ form.direccion.label(for="direccion", class="text-slate-900 text-sm font-medium mb-2 block") }} {{ form.direccion(id="direccion",
                        class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500",
                        placeholder="Dirección", type="text") }} {% if form.direccion.errors %}
                        <ul class="text-red-500">
                            {% for error in form.direccion.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        {{ form.telefono.label(for="telefono", class="text-slate-900 text-sm font-medium mb-2 block") }} {{ form.telefono(id="telefono",
                        class="text-slate-900 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500",
                        placeholder="Teléfono", type="text") }} {% if form.telefono.errors %}
                        <ul class="text-red-500">
                            {% for error in form.telefono.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="mt-12">
                    {{ form.submit(class="w-full py-3 px-4 text-sm tracking-wider font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none cursor-pointer") }}
                </div>
                <p class="text-slate-600 text-sm mt-6 text-center">
                    Ya tiene una cuenta?
                    <a href="/login" class="text-blue-600 font-medium hover:underline ml-1">Inicia Sesión</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}